name: CI

on: [push, pull_request]

jobs:

  build:
    strategy:
      matrix:
        php:
          - '8.1'
      fail-fast: true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v3
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl, pdo_mysql, zip, gd, exif, pcntl, bcmath, xdebug
          coverage: none
          tools: composer:v2

      - name: Cache composer vendors
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ hashFiles('**/composer.json **/composer.lock') }}

      - name: Update php dependencies
        run: |
          composer install --no-interaction --no-progress --no-suggest --optimize-autoloader

      - name: Run unit tests
        run: |
          php bin/phpunit 
